.navbar {
    margin: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .left {
        flex: 1;
        display: flex;
        justify-content: flex-start;

        .iconContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            .icon {
                color: $dark-blue;
                width: 32px;
                height: 32px;
                margin-bottom: 8px;
            }

            span {
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                color: $dark-blue;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;


        .profileIcon {
            cursor: pointer;
            color: $dark-blue;
            height: 32px;
            width: 32px;
            margin-right: 16px;
            margin-left: 32px;
        }

        .btn {
            cursor: pointer;
            transition: ease-out 150ms;
            border-bottom: 2px solid transparent;
            color: black;
            margin-right: 8px;
            padding: 8px;
            width: 80px;
            font-weight: 600;
            text-align: center;

            &:hover {
                transition: ease-in 150ms;
                border-bottom: 2px solid $dark-blue;
            }
        }


        .searchContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 2px solid $dark-blue;
            height: 32px;
            border-radius: 4px;
            justify-content: space-between;
            width: 200px;
            padding: 8px;

            .input {
                border: none;
                color: $dark-gray;
                font-weight: 600;
                font-size: $normal;
                width: 164px;

                &:focus {
                    outline: none;
                }
            }

            .icon {
                color: $dark-blue;
            }
        }

    }

}
