.newsLetterContainer {
    height: 500px;
    background-color: lighten($color: $dark-gray, $amount: 15);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: lighten($color: $primary, $amount: 4);

    .title {
        font-family: "Poppins", sans-serif;
        font-size: $large-title;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .description {
        font-size: $subtitle;
        font-weight: 600;
        margin: 0;
        margin-bottom: 20px;
    }

    .inputContainer {
        width: 350px;
        height: 40px;
        background-color: $white;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        border: 2px solid $primary;
        border-radius: 4px;
    }

    .input {
        border: none;
        flex: 8;
        padding: 16px;
        color: $dark-gray;
        font-size: 20px;
    }

    .sendButton {
        cursor: pointer;
        flex: 1;
        border: none;
        background-color: darken($color: $primary, $amount: 5);
        color: $dark-gray;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: ease-in 150ms;

        .sendIcon {
            width: 24px;
            height: 24px;
            color: darken($color: $primary, $amount: 20);
        }

        &:hover {
            transition: ease-out 200ms;
            background-color: lighten($color: $primary, $amount: 2);
        }
    }
}


@media (max-width: 640px) {

    
}