.newsLetterContainer {
    height: 500px;
    background-color: lighten($color: $dark-gray, $amount: 25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
        font-family: "Poppins", sans-serif;
        font-size: $large-title;
        margin-top: 20px;
        margin-bottom: 0;
        color: darken($color: $dark-gray, $amount: 10);
    }

    .description {
        font-size: $subtitle;
        font-weight: 600;
        color: darken($color: $dark-gray, $amount: 10);
        margin: 0;
        margin-bottom: 20px;
    }

    .inputContainer {
        width: 50%;
        height: 40px;
        background-color: $white;
        display: flex;
        justify-content: space-between;
        border: 1px solid $light-gray;
        margin-bottom: 20px;
    }

    .input {
        border: none;
        flex: 8;
        padding: 16px;
        color: $dark-gray;
        font-size: 20px;
    }

    .sendButton {
        cursor: pointer;
        flex: 1;
        border: none;
        background-color: darken($color: $secondary, $amount: 2);
        color: $dark-gray;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: ease-in 150ms;

        .sendIcon {
            width: 24px;
            height: 24px;
        }

        &:hover {
            transition: ease-out 200ms;
            background-color: lighten($color: $secondary, $amount: 2);
        }
    }
}