.productContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    padding: 4px;
    border-radius: 4px;
    // border: 2px solid rgba(0,0,0,0.39);
    box-shadow: 1px 2px 12px 4px rgba(0,0,0,0.39);
    -webkit-box-shadow: 1px 2px 12px 4px rgba(0,0,0,0.39);
    -moz-box-shadow: 1px 2px 12px 4px rgba(0,0,0,0.39);
    .product {        
        min-width: 280px;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f5fbfd;
        cursor: pointer;

        &:hover {
            .info {
                opacity: 1;
            }
        }

        .imageContainer {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: white;
            position: absolute;

            .image {
                height: 100%;
                z-index: 2;
            }
        }

    }

    .productInfo {
        display: flex;
        flex-direction: column;

        .title {
            font-weight: bold;
            font-size: $normal;
            text-align: left;
            margin: 0;

            background-color: rgb(204, 204, 204);
        }

        .priceStock {
            display: flex;
            justify-content: space-between;
            align-items: center;



            .price {
                color: $primary;
                font-weight: 600;
            }

            .inStock {
                color: $secondary;
                font-weight: 600;
            }

            .notAvailable {
                color: $danger;
                font-weight: 600;
            }

        }
    }


    &:hover {
        transition: ease-out 150ms;
        box-shadow: 1px 2px 24px 6px rgba(0,0,0,0.39);
        -webkit-box-shadow: 1px 2px 24px 6px rgba(0,0,0,0.39);
        -moz-box-shadow: 1px 2px 24px 6px rgba(0,0,0,0.39);
        transform: scale(1.025);
    }
}

.productsTitle {
    font-size: $title;
    font-weight: 700;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 32px;
    text-shadow: 1px 1px 2px $navy;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, 295px);
    justify-content: center;
    margin-bottom: 64px;
    grid-gap: 18px;
    width: 80%;
    margin: auto;
    margin-bottom: 64px;
}