.profileContainer {
    max-width: 680px;
    height: auto;
    background-color: $primary;
    color: $white;
    border-radius: 24px;
    display: flex;
    margin: auto;
    justify-content: center;
    box-shadow: 3px 3px 9px 4px rgb(0 0 0 / 40%);

    .profileSection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;

        .profileImage {
            margin: auto;
            cursor: pointer;

            .img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                overflow: hidden;
                margin-top: 24px;
                border: 5px solid rgba(0, 0, 0, 0.25);
                transition: 150ms ease-out;

                &:hover {
                    transition: 150ms ease-in;
                    border: 5px solid rgba(0, 0, 0, 0.40);
                    transform: scale(1.1);
                }
            }



        }

        .infoContainer {
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-family: "Poppins", sans-serif;

            .info {
                font-size: 16px;
                font-weight: 700;
            }

            .userDataInput {
                color: $white;
                padding: 8px;
                background-color: $primary;
                border: none;
            }
        }

        .lastInfoContainer {
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-family: "Poppins", sans-serif;

            .info,
            .profileDate {
                font-size: 12px;
            }
        }



        .updateContainer {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .updateAccountBtn {
                display: none;
                cursor: pointer;
                background-color: darken($color: $primary, $amount: 12);
                border: none;
                border-radius: 4px;
                color: $white;
                font-weight: 700;
                padding: 8px;
                transition: ease-in 150ms;
                margin-top: 32px;

                &:hover {
                    transition: ease-out 150ms;
                    background-color: lighten($color: $primary, $amount: 2);
                }
            }
        }

        .deleteContainer {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .deleteAccountBtn {
                display: none;
                cursor: pointer;
                background-color: darken($color: $danger, $amount: 5);
                border: none;
                border-radius: 4px;
                color: $white;
                font-weight: 700;
                padding: 8px;
                transition: ease-in 150ms;
                margin-top: 12px;

                &:hover {
                    transition: ease-out 150ms;
                    background-color: lighten($color: $danger, $amount: 2);
                }
            }
        }


        &:last-child {
            margin-bottom: 24px;
        }
    }
}

.createdAt {
    margin-bottom: 12px;
    .info {
        font-weight: 700;
    }
}

.updatedAt{
    margin-bottom: 12px;
    .info {
        font-weight: 700;
    }
}

@media (max-width: 960px) {

    .profileContainer {
        max-width: 520px;
    }
}

@media (max-width: 640px) {

    .profileContainer {
        max-width: 320px;
    }
    .infoContainer {
        flex-direction: column;
    }

    .updateContainer {
        justify-content: flex-end;
    }

    .lastInfoContainer {
        flex-direction: column;

        .createdAt {
            margin-bottom: 12px;
        }
    }
}