.profileContainer {
    width: 40vw;
    height: auto;
    background-color: lightgreen;
    border-radius: 24px;
    display: flex;
    margin: auto;
    justify-content: center;


    .profileSection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;

        .profileImage { 
            margin: auto;            
            .img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                overflow: hidden;
                margin-top: 24px;
            }
        }

        .infoContainer {
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-family: "Poppins", sans-serif;

            .info {            
                margin-bottom: 24px;
            }
        }
    
        .deleteAccountBtn {
            cursor: pointer;
            background-color: darken($color: $danger, $amount: 5);
            border: none;
            border-radius: 4px;
            color: $white;
            font-weight: 700;
            padding: 12px;
            transition: ease-in 150ms;
            
            &:hover {
                transition: ease-out 150ms;
                background-color: lighten($color: $danger, $amount: 2);
            }
        }

        &:last-child {
            margin-bottom: 24px;
        }
    }
}