.profileContainer {
    margin-top: 24px;
    max-width: 680px;
    height: auto;
    background-color: hsl(184, 46%, 35%);
    color: #ffffff;
    border-radius: 12px;
    display: flex;
    margin: auto;
    justify-content: center;
    box-shadow: 3px 3px 9px 4px rgb(0 0 0 / 40%);

    .profileSection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;

        .profileImage {
            margin: auto;
            cursor: pointer;

            .img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                overflow: hidden;
                margin-top: 24px;
                border: 5px solid rgba(0, 0, 0, 0.25);
                transition: 150ms ease-out;

                &:hover {
                    transition: 150ms ease-in;
                    border: 5px solid rgba(0, 0, 0, 0.40);
                    transform: scale(1.1);
                }
            }

        }


        .profileGrid {
            display: grid;
            margin-top: 12px;
            grid-gap: 18px;
            align-items: center;
            width: 100%;

            .infoContainer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                font-family: "Poppins", sans-serif;

                .info {
                    font-size: $small;
                    font-weight: 700;
                }

                .userDataInput {
                    color: #ffffff;
                    font-size: $small;
                    padding: 8px;
                    background-color: transparent;
                    border: none;
                }
            }

            .createdAt,
            .updatedAt {
                font-size: $small;

                .info {
                    font-weight: 700;
                    font-size: $small;
                }
            }


            .updateContainer {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                font-size: $small;

                .updateAccountBtn {
                    cursor: pointer;
                    background-color: #aec9e5;
                    border: none;
                    border-radius: 4px;
                    color: #112A46;
                    font-weight: 700;
                    padding: 8px;
                    transition: ease-in 150ms;

                    &:hover {
                        transition: ease-out 150ms;
                        background-color: #a2c1e2;
                    }

                    &:disabled {
                        border: 1px solid #999999;
                        background-color: #cccccc;
                        color: #666666;
                        cursor: not-allowed;
                    }
                }
            }

            .deleteContainer {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                font-size: $small;

                .deleteAccountBtn {
                    cursor: pointer;
                    background-color: darken($color: $danger, $amount: 5);
                    border: none;
                    border-radius: 4px;
                    color: #ffffff;
                    font-weight: 700;
                    padding: 8px;
                    transition: ease-in 150ms;

                    &:hover {
                        transition: ease-out 150ms;
                        background-color: lighten($color: $danger, $amount: 2);
                    }

                    &:disabled {
                        border: 1px solid #999999;
                        background-color: #cccccc;
                        color: #666666;
                        cursor: not-allowed;
                    }
                }
            }

        }


        &:last-child {
            margin-bottom: 24px;
        }
    }
}


@media (max-width: 768px) {
    .profileContainer {
        max-width: 520px;
    }

}

@media (max-width: 960px) {
    .profileGrid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (min-width: 960px) {
    .profileGrid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}