.profileContainer {
    margin-top: 24px;
    max-width: 680px;
    height: auto;
    background-color: hsl(184, 46%, 35%);
    color: #ffffff;
    border-radius: 12px;
    display: flex;
    margin: auto;
    justify-content: center;
    box-shadow: 3px 3px 9px 4px rgb(0 0 0 / 40%);

    .profileSection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;

        .profileGrid {
            display: grid;
            padding: 12px;
            grid-gap: 18px;
            align-items: center;
            width: 100%;

            form {
                .login__input {
                    margin-bottom: 24px;

                    .label {
                        font-weight: 600;
                        margin: 0 0 8px 0;
                        color: $white;
                        margin-top: 12px;
                    }

                    .input-container,
                    .password-container {
                        display: flex;
                        flex-direction: row;
                        margin-top: 12px;
                        align-items: center;

                        .auth__input {
                            background-color: $dark-gray;
                            color: $white;
                            border: 0;
                            border-bottom: 1px solid lighten($color: $dark-gray, $amount: 20);
                            font-size: $larger;
                            height: 24px;
                            width: 100%;
                            padding-top: 8px;
                            padding-bottom: 8px;
                            transition: border-bottom .3s ease;

                            &:focus {
                                border-bottom: 1px solid lighten($color: $dark-gray, $amount: 35);
                                outline: none;
                            }
                        }

                        .showHide-icon {
                            width: 24px;
                            margin-top: 4px;
                            color: hsl(0, 0%, 50%);
                            cursor: pointer;

                            &:hover {
                                transition: 200ms ease-in;
                                color: hsl(0, 0%, 40%);
                            }
                        }

                        .input {
                            width: 100%;
                            padding: 0.25rem;
                            border-radius: 0.375rem;
                            color: black;
                        }

                        .error-text-update {
                            font-size: $small;
                            color: white;
                            font-weight: 700;
                            max-width: 360px;
                            border-radius: 4px;
                        }
                    }
                }



                .password-section {
                    margin-bottom: 24px;

                    .label {
                        font-weight: 600;
                        margin: 0 0 8px 0;
                        color: $white;
                        margin-top: 12px;
                    }

                    .password-container {
                        display: flex;
                        flex-direction: row;
                        margin-top: 12px;
                        align-items: center;

                        .input {
                            width: 100%;
                            padding: 0.25rem;
                            border-radius: 0.375rem;
                            color: black;
                        }

                        .eyeOpen {
                            margin-left: 0.5rem;
                            width: 1.5rem;
                            cursor: pointer;
                        }

                        .eyeClose {
                            margin-left: 0.5rem;
                            width: 1.5rem;
                            cursor: pointer;
                        }
                    }

                    .error-text-update {
                        font-size: $small;
                        color: white;
                        font-weight: 700;
                        max-width: 360px;
                        border-radius: 4px;
                    }
                }

                .btn-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    margin-top: 24px;
                    width: 100%;

                    .btn {
                        background-color: hsl(186, 44%, 56%);
                        color: #000000;
                        font-family: "Poppins", sans-serif;
                        cursor: pointer;
                        padding: 8px;
                        border: none;
                        border-radius: 8px;
                        font-size: $small;
                        font-weight: 500;
                    }
                }

                .profileImage {
                    margin: auto;
                    cursor: pointer;

                    .img {
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-top: 24px;
                        border: 5px solid rgba(0, 0, 0, 0.25);
                        transition: 150ms ease-out;

                        &:hover {
                            transition: 150ms ease-in;
                            border: 5px solid rgba(0, 0, 0, 0.40);
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}