.container {
    width: 100%;
}

.full-height {
    min-height: 100vh;
    display: grid;
    align-content: center;
}

.slide {

    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    height: 100vh;
    width: 88%;
    margin: auto;


    .infoContainer {
        width: 80%;

        .title {
            margin: 0;
            color: $dark-gray;
            text-align: center;
            font-family: "Poppins", sans-serif;
            text-shadow: 1px 1px 2px #406882;
        }

        .description {
            color: $dark-gray;
        }

        .buttonContainer {
            display: none;
            justify-content: center;
            color: $dark-gray;
            margin-top: 24px;

            .slideButton {
                cursor: pointer;
                padding: 12px;
                border: 2px solid $dark-gray;
                font-size: $normal;
                font-weight: 700;
                width: 150px;

                &:hover {
                    color: $primary;
                    border: 2px solid $primary;
                }
            }

        }


    }

    .imageContainerSlider {

        max-width: 500px;
        justify-content: center;
        margin: auto;
        border-radius: 30% 70% 67% 33% / 30% 30% 70% 70%;
        background-color: rgba(0, 0, 0, 0.39);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);

        .image {
            filter: grayscale(75%);
            width: 80%;
            border-radius: 30% 70% 67% 33% / 30% 30% 70% 70%;
            box-shadow: 1px 2px 12px 4px rgba(0, 0, 0, 0.39);
            -webkit-box-shadow: 1px 2px 12px 4px rgba(0, 0, 0, 0.39);
            -moz-box-shadow: 1px 2px 12px 4px rgba(0, 0, 0, 0.39);


        }
    }

}


@media (max-width: 640px) {

    .title {
        font-size: $title;
    }

    .description {
        font-size: $larger;
        text-align: left;
        margin-top: 16px;
    }

    .infoContainer {
        margin: auto;
        width: 90%;
    }

    .slide {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        row-gap: 10px;
    }

    .imageContainerSlider {
        width: 250px;
    }
}

@media (min-width: 640px) {

    .skeletonLoader {
        width: 400px;
        height: 400px;
    }

    .title {
        font-size: $large-title;
    }

    .description {
        margin-top: 32px;
        font-size: $subtitle;
        text-align: justify;
    }
}

@media (max-width: 640px) {

    .skeletonLoader {
        width: 250px;
        height: 250px;
    }
}