.container {
    width: 100%;
}


.slide {

    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    height: 85vh;
    margin-bottom: 200px;

    .infoContainer {
        width: 80%;
        margin: auto;

        .title {
            margin: 0;
            font-size: $large-title;
            line-height: 102px;
            color: $dark-gray;
            text-align: center;
            font-family: "Poppins", sans-serif;

        }

        .description {
            color: $dark-gray;
            margin-top: 32px;
            font-size: $subtitle;
            text-align: justify;
        }

        .buttonContainer {            
            display: flex;
            justify-content: center;
            color: $dark-gray;
            margin-top: 24px;

            .slideButton {
                cursor: pointer;
                padding: 12px;
                border: 2px solid $dark-gray;
                font-size: $normal;
                font-weight: 700;
                width: 150px;

                &:hover {
                    color: $primary;
                    border: 2px solid $primary;
                }
            }

            // .slideButton {
            //     cursor: pointer;
            //     height: 100%;
            //     left: -35%;
            //     top: 0;
            //     transform: skew(50deg);
            //     transition-duration: 0.6s;
            //     transform-origin: top left;
            //     width: 0;
            //     background-color: transparent;

            //     &:hover {
            //         height: 100%;
            //         width: 135%;
            //         background-color: $primary;
            //     }
            // }

        }


    }

    .imageContainer {

        max-width: 500px;
        justify-content: center;
        margin: auto;

        .image {
            filter: grayscale(75%);
            width: 100%;
        }
    }
}

// .slidePosition {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//     margin-bottom: 20px;

//     .dot {
//         cursor: pointer;
//         width: 24px;
//         width: 24px;
//         color: $light-gray;
//     }

//     .selected {
//         color: $primary;
//     }
// }