.container {
    width: 100%;
}


.slide {

    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    height: 85vh;
    width: 90%;
    margin: auto;
    // background: url('../../../assets/backgroundWave.svg');
    // background-repeat: no-repeat;
    

    .infoContainer {
        width: 80%;
        margin: auto;

        .title {
            margin: 0;
            font-size: $large-title;
            line-height: 102px;
            color: $dark-gray;
            text-align: center;
            font-family: "Poppins", sans-serif;

        }

        .description {
            color: $dark-gray;
            margin-top: 32px;
            font-size: $subtitle;
            text-align: justify;
        }

        .buttonContainer {
            display: flex;
            justify-content: center;
            color: $dark-gray;
            margin-top: 24px;

            .slideButton {
                cursor: pointer;
                padding: 12px;
                border: 2px solid $dark-gray;
                font-size: $normal;
                font-weight: 700;
                width: 150px;

                &:hover {
                    color: $primary;
                    border: 2px solid $primary;
                }
            }

        }


    }

    .imageContainer {

        max-width: 500px;
        justify-content: center;
        margin: auto;

        .image {
            filter: grayscale(75%);
            width: 80%;
            
        }
    }

}