@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-ebonyClay: 40 47 73;
        --color-dodgerBlue: 31 179 245;
        --color-havelockBlue: 61 131 211;
        --color-mediumPurple: 167 87 226;        
    }
}
