* {
    box-sizing: border-box;
}

$primary: #38939A;
$white: #FAEEDC;
$danger:    #C9162A;
$dark-blue: #2563EB;
$light-blue: #60A5FA;
$light-gray: #9CA3AF;
$dark-gray: #252629;


//FONT SIZES

$normal: 16px;