$primary: #38939A;
$secondary: #FF7844;
$white: #EEEEEE;
$danger:    #C9162A;
$dark-gray: #252629;
$light-gray: #9CA3AF;


//Color Palette
$navy: #406882;
$dark-blue: #406882;
$blue: #6998AB;
$light-blue: #B1D0E0;

$ebony-clay: #282F49;
$dodger-blue: #1FB3F5;
$havelock-blue: #3D83D3;
$medium-purple: #A757E2;